<%- include("partials/header"); %>

<div class="row mb-4">
  <h2>APIs</h2>
</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <!--<a class="nav-link active" aria-current="page" href="/">
              <span data-feather="home"></span>
              Homepage
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apis">
              <span data-feather="file"></span>
              API's
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/directories">
              <span data-feather="shopping-cart"></span>
              Directories
            </a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/addStream" class="btn btn-sm btn-outline-secondary" id="CreateNewStreamBtn" >Create New Stream</a>
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/login" class="btn btn-sm btn-outline-secondary" id="ExitUIBtn" >Logout</a>
            </a>
          </li>-->
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="=row">
    <% for(i in ActiveAPIs.active){ %>
    <div class="col mb-4 ">    
        
        <div class="card">
            
          <div class="card-body">
            <p class="card-text"> <%= ActiveAPIs.active[i].api_key %> </p>
            <p class="card-text"> <%= ActiveAPIs.active[i].name %>  </p>
            <p class="card-text"> <%= ActiveAPIs.active[i].ttl %>  </p>
          </div>
          
        
           
        </div>
    </div>  
    <% } %>
</div>
</main>
</div>
</div>



<%- include("partials/footer"); %>
