<%- include("partials/header"); %>
    
<div class="row mb-4">
  <h2>Homepage</h2>
  
</div>
    
<div class="d-flex justify-content-between">

  <div class="row mb-4 mt-4">
        
        <a href="/addStream" class="btn btn-sm btn-outline-secondary" id="CreateNewStreamBtn" >Create New Stream +</a>
  </div>

  <div class="row mb-4 mt-4">
          
          <a href="/login" class="btn btn-sm btn-outline-secondary" id="ExitUIBtn" >Exit UI</a>
  </div>

</div>

<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Directories
        </button>

        
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          
          <% if (directories.length > 0){ %>
            <% directories.forEach(directory => { %>

          <li><a class="dropdown-item" href="#"></a><%= directory.name %></a></li>
          
            <% }) %>
            <%}else{ %>
          <p>There was an error displaying directories...</p>
          <% } %>
        </ul>

        

</div>
    

<div class="table-responsive">
  <table class="table table-striped table-sm table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Streams</th>
        <th>IP</th>
        <th>Port Number</th>
        <th>Status</th>
        <th>Monitor Frequency</th>
        <th>Parameters Monitored</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>


        <% if (directories.length > 0){ %>
          <% directories.forEach(directory => { %>

          

        <!-- testing with GET -->
        <form action="/streamData" method="GET">
          <tr>
            <td> <a href="/dbHome/<%= directory._id %>"> <%= directory.name %> </a></td>
            
            
            <td>test</td>
            
            <td>random</td>
            <td>data</td>
            <td>placeholder</td>
            <td>text</td>
            <td>placeholder</td>
            <td>
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                    
            </td>
          </tr>
        </form>
        
        <% }) %>
        <%}else{ %>
        <p>There was an error displaying directories...</p>
        <% } %>
    

    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between">

  <div class="row mb-4 mt-4">
        
        <a href="/continue" class="btn btn-sm btn-outline-primary" id="ContinueBtn" >Continue</a>
  </div>

  <div class="row mb-4 mt-4">
          
          <a href="/deleteParameter" class="btn btn-sm btn-outline-primary" id="deleteParameterBtn" >Delete</a>
  </div>

</div>


</main>
</div>
</div>



<%- include("partials/footer"); %>


    