<%- include("partials/header"); %>

<h1><%= dirData.directory_name%></h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        
      
        <th>Streams</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>


      <% for(i in dirData){ %>
        <% var temp = dirData.stream %>
      <% for( var j = 0; j < temp.length; j++) { %>

        <!-- testing with GET -->
        <form action="/streamData" method="GET">
          <tr>
            <td > <a href="/streamData/<%= temp[j].id %>"> <%=temp[j].name %> </a> </td>
     
              <!-- deleteStream -->
            <td>  <a href="/deleteStream/<%= temp[j].id %>" class="btn btn-sm " id="deleteParameterBtn" >Delete</a>
              
           </td>
          </tr>
        </form>

        
          <% } %>  
          <% break %>
      <% } %>
  
      </tbody>
    </table>
</div>

  </div>
  
</main>


<%- include("partials/footer"); %>
