<%- include("partials/header"); %>


<h1>Directory Data </h1>


<h2> Currently in <%= dirData.directory_name%> Directory</h2>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="table-responsive">
    <table class="table  ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Directory ID</th>
          <th>Streams</th>
          <th>IP</th>
          <th>Port Number</th>
          <th>Status</th>
          <th>Monitor Frequency</th>
          <th>Parameters Monitored</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
  
  
          <% for(i in dirData){ %>
                  <% var temp = dirData.stream %>
              <% for( var j = 0; j < temp.length; j++) { %>
  
          <!-- testing with GET -->
          <form action="/streamData" method="GET">
            <tr>
              <td> <a href=""> <%= dirData.directory_name %> </a></td>
              
              
              <td>  <%= dirData.directory_id%> </td>
              
              <td > <a href="/streamData/<%= temp[j].id %>"> <%=temp[j].id %> </a> </td>
              <td>data</td>
              <td>placeholder</td>
              <td>text</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>
                      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                      
              </td>
            </tr>
          </form>
          
        
          <% } %>  
          <% break %>
      <% } %>
  
  
  
      </tbody>
    </table>
  </div>
  
</main>


<%- include("partials/footer"); %>
