<%- include("partials/header"); %>
    
<div class="row mb-4">
  <h2>Home</h2>
  
</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      
      <div class="position-sticky pt-1">
        <ul class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/addDirectory" class="btn btn-sm btn-outline-secondary" id="CreateNewDirectoryBtn" >Create New Directory</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/addStream" class="btn btn-sm btn-outline-secondary" id="CreateNewStreamBtn" >Create Stream ID</a>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="table-responsive">
        <table class="table ">
          <thead>
            <tr>
              <th>Directory Name</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
      
      
              <% for(i in homeDirectory){ %>
                      <% var temp = homeDirectory.directory %>
                       <% for( var j = 0; j < temp.length; j++) { %>
      
              <!-- testing with GET -->
              <form action="/directoryData" method="GET">
                <tr>
                  <td>  <a  href="/directoryData/<%= temp[j].id %>"> <%= temp[j].name %> </a> </td>
                  
                  

                  
                  <td>  <a href="/deleteDirectory/<%= temp[j].id %>" class="btn btn-sm " id="deleteParameterBtn" >Delete</a>
            
                  </td>
                
                </tr>
              </form>
              
            
              <% } %>  
              <% break %>
          <% } %>
      
      
          </tbody>
        </table>
      </div>
    </main>

<div>
</main>
</div>
</div>
</script>




<%- include("partials/footer"); %>
