<%- include("partials/header"); %>
    
<div class="row mb-4">
  <h2>Homepage</h2>
  
</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <span data-feather="home"></span>
              Homepage
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apis">
              <span data-feather="file"></span>
              API's
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/directories">
              <span data-feather="shopping-cart"></span>
              Directories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/addDirectory" class="btn btn-sm btn-outline-secondary" id="CreateNewDirectoryBtn" >Create New Directory</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/addStream" class="btn btn-sm btn-outline-secondary" id="CreateNewStreamBtn" >Create New Stream</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/search" class="btn btn-sm btn-outline-secondary" id="searchBtn" >Search API Key</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/login" class="btn btn-sm btn-outline-secondary" id="ExitUIBtn" >Logout</a>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="table-responsive">
        <table class="table table-striped table-sm table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Directory ID</th>
              <th>Streams</th>
              <th>IP</th>
              <th>Port Number</th>
              <th>Status</th>
              <th>Monitor Frequency</th>
              <th>Parameters Monitored</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
      
      
              <% for(i in homeDirectory){ %>
                      <% var temp = homeDirectory.directory %>
                       <% for( var j = 0; j < temp.length; j++) { %>
      
              <!-- testing with GET -->
              <form action="/directoryData" method="GET">
                <tr>
                  <td>  <%= temp[j].name %> </td>
                  
                  
                  <td> <a href="/directoryData/<%= temp[j].id %>">   <%= temp[j].id %>  </a></td>
                  
                  <td>random</td>
                  <td>data</td>
                  <td>placeholder</td>
                  <td>
                    <label class="switch">
                      <input type="checkbox">
                      <span class="slider round"></span>
                    </label>
                  </td>
                  <td class = "table-danger">placeholder</td>
                  <td>placeholder</td>
                  <td> <a href="/deleteParameter" class="btn btn-sm btn-outline-primary" id="deleteParameterBtn" >Delete</a>
                  </td>
                </tr>
              </form>
              
            
              <% } %>  
              <% break %>
          <% } %>
      
      
          </tbody>
        </table>
      </div>
    </main>

<div>
</main>
</div>
</div>




<%- include("partials/footer"); %>
