<%- include("partials/header"); %>


<h1><%= DataSet.var_name %> </h1>




<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <span data-feather="home"></span>
              Homepage
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apis">
              <span data-feather="file"></span>
              API's
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/directories">
              <span data-feather="shopping-cart"></span>
              Directories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/addDirectory" class="btn btn-sm btn-outline-secondary" id="CreateNewDirectoryBtn" >Create New Directory</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/addStream" class="btn btn-sm btn-outline-secondary" id="CreateNewStreamBtn" >Create New Stream</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <a href="/login" class="btn btn-sm btn-outline-secondary" id="ExitUIBtn" >Logout</a>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  

      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Date</th>
            
            <% for(i in DataSet){ %>
            <th scope="col"> <%= DataSet.var_name %></th>
            <% break %>
            <% } %>
          </tr>
        </thead>

        <% for(i in DataSet){ %>
          <% var temp = DataSet.dataset %>
           <% console.log(temp); %>
            <% for( var j = 0; j < temp.length; j++) { %>
              
              <%var newTemp = temp[j];%>

        <tbody>
          <tr>
            <%var newTemp = new Date(temp[j][0]) ;%>
            <th scope="row"> <%= newTemp %></th>
            <td><%= temp[j][1] %></td>
            
          </tr>
          
        </tbody>

            <% } %>
            <% break %>
          <%}%>
      </table>


    

</main>
</div>
</div>

<%- include("partials/footer"); %>
