<%- include("partials/header"); %>


<h1><%= DataSet.var_name %> </h1>





<main class="col-md-9 ms-sm-auto col-xl-10 px-md-4">
  <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Date</th>
            
            <% for(i in DataSet){ %>
            <th scope="col"> <%= DataSet.var_name %></th>
            <% break %>
            <% } %>
          </tr>
        </thead>

        <% for(i in DataSet){ %>
          <% var temp = DataSet.dataset %>
          <% console.log(temp); %>
            <% for( var j = 0; j < temp.length; j++) { %>
              
              <%var newTemp = temp[j];%>

        <tbody>
          <tr>
            <%var newTemp = new Date(temp[j][0]) ;%>
            <th scope="row"> <%= newTemp %></th>
            <td><%= temp[j][1] %></td>
            
          </tr>
          
        </tbody>

            <% } %>
            <% break %>
          <%}%>
      </table>
    </div>  
  </main>

      

</div>

<%- include("partials/footer"); %>
