<%- include("partials/header"); %>


<h1>Stream Data </h1>


<h2 id="streamData-id"> <%= streamData.name%></h2>

<div class="container-fluid">
  <div class="row">
    
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="table-responsive">
          <table class="table ">
            <thead>
              <tr>
                <th>Units</th>
                <th>Name</th>
                <th>Variable Name</th>
                <th>Description</th>
                <th>Type</th>
                
              </tr>
            </thead>
            <tbody>
      
      
                <% for(i in streamData){ %>
                        <% var temp = streamData.schema %>
                    <% for( var j = 0; j < temp.length; j++) { %>
      
                <!-- testing with GET -->
                <form action="/streamData" method="GET">
                  <tr>
                    <td> <a href=""> <%= temp[j].units %> </a></td>
                    
                    
                    <td>  <%= temp[j].display_name %> </td>
                    
                    <td >  <%=temp[j].var_name %> </td>
                    <td><%= temp[j].description %></td>
                    <td><%= temp[j].type %></td>
                    
                  </tr>
                </form>
                
              
                <% } %>  
                <% break %>
            <% } %>
      
      
      
          </tbody>
        </table>
      </div>
  
  </main>
  </div>
</div>

<%- include("partials/footer"); %>
