<%- include("partials/header"); %>

<div class="=row">
    
    <div class="col mb-4 ">    
        
        <div class="card">
            
          <div class="card-body">
            <!-- <p class="card-text"> <%= ActiveAPIs.status %> </p>
            <p class="card-text"> <%= ActiveAPIs %> </p> -->
            <p class="card-text"> <%= ActiveAPIs.name %> </p>
            <p class="card-text"> <%= ActiveAPIs.ttl %> </p>
            <p class="card-text"> <%= ActiveAPIs.session_id %> </p>
           
          </div>
          
        
           
        </div>
    </div>  
    
</div>




<%- include("partials/footer"); %>